* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: teal;
    color: white;
    padding: 20px;
    text-align: center;
}

.header .nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.intro {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.pa{
 font-size: 30px;
 color: rgb(11, 1, 11);
 text-align: center;
}
.z{
    text-align: center;
    font-size: 50px;
}
.skills {
    padding: 10px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.skill {
    background-color: teal;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
.xx{
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}
.experience {
    padding: 20px;
    background-color: teal;

}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.experience-item {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
}
.ww{
    text-align: center;
    font-size: 40px;
    margin: 3% 3%;
}

.projects {
    padding: 20px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
}

.project {
    background-color:teal;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.contact {
    padding: 20px;
    background-color: #f9f9f9;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    padding: 10px;
    background-color: teal;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: teal;
}


.footer {
    text-align: center;
    padding: 10px;
    background-color: teal;
    color: white;
}
